// colors (named that color)
$c-white: rgb(255, 255, 255);
$c-gray: gray;
$c-emperor: #525252;
$c-black: rgb(0, 0, 0);
$c-green: green;
$c-persianPink: #f178b6;
$c-lynch: #617d98;
$c-tallPoppy: #bb2525;
$c-success: #0dd15f;
$c-error: #f53f2b;
$color-highlight: #eeeeee;
