.btn {
  padding: 0.45rem 0.75rem;
  font-size: 0.75rem;
  color: $c-persianPink;
  font-weight: 900;
  background: transparent;
  border: 3px solid $c-persianPink;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s linear;
  cursor: pointer;
}

.delete-btn {
  position: absolute;
  right: 10px;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0 0.15rem;
  transition: all 0.2s linear;

  &:hover {
    color: $c-tallPoppy;
  }
}
