nav {
  background: $c-white;
  box-shadow: 0 5px 15px #f178b6;

  .nav-center {
    @include createFlex(column);
    padding: 0.5rem 0;
    max-height: 2.6rem;
    transition: max-height 0.35s ease-out;
    overflow: hidden;

    &__toggle {
      align-self: flex-end;
      font-size: 1.5rem;
      color: $c-black;
      margin-right: 1rem;
      background: transparent;
      border-color: transparent;
      transition: all 0.3s linear;
      cursor: pointer;

      &:hover {
        color: $c-gray;
        transform: rotate(90deg);
      }
      @media screen and (min-width: 640px) {
        display: none;
      }
    }

    &__links,
    &__aside {
      a {
        color: $c-black;
        font-size: 1rem;
        text-transform: capitalize;
        letter-spacing: 1.5px;
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.3s linear;
        &:hover {
          background: $c-lynch;
          color: $c-white;
          padding-left: 1.5rem;
        }

        li {
          list-style: none;
        }

        @media screen and (min-width: 640px) {
          padding: 0;
          margin: 0 0.5rem;
          &:hover {
            padding: 0;
            color: $c-gray;
            background: transparent;
          }
        }
      }

      @media screen and (min-width: 640px) {
        height: auto;
        display: flex;
      }
    }

    &__aside {
      margin-top: 20px;
      .sign-out {
        @include createFlex(row, center, center);
      }

      @media screen and (min-width: 640px) {
        margin-top: 0;
      }
    }
    @media screen and (min-width: 640px) {
      max-width: 1170px;
      margin: 0 auto;
      @include createFlex(row, space-between, center);
      padding: 1rem;
    }

    @media screen and (min-width: 640px) {
      height: auto;
    }

    &.show-links {
      max-height: 500px;
      transition: max-height 0.45s ease-in;
    }
  }
}
