.search-bar-container {
  background-color: $c-persianPink;
  padding: 20px 15px 40px;
  @include createFlex(row, center, center);
  border-radius: 15px 15px 0 0;

  form {
    margin: 0 auto;
    position: relative;
    width: 90%;
    max-width: 500px;

    input {
      position: relative;
      border: none;
      height: 50px;
      background: $c-white;
      width: 100%;
      border-radius: 50px;
      padding: 8px 11px 8px 51px;
      font-size: 13px;
      color: $c-emperor;
      &:focus {
        outline: none;
      }
    }
    .search-icon {
      position: absolute;
      height: 12px;
      width: 12px;
      background: transparent;
      border: 2px solid $c-black;
      left: 20px;
      top: 18px;
      border-radius: 100%;
      cursor: pointer;
      &:after {
        content: "";
        position: absolute;
        background: $c-black;
        height: 6px;
        width: 2px;
        bottom: -5px;
        right: -3px;
        transform: rotate(-45deg);
      }
    }
  }
}
